<!DOCTYPE html>
<!--Указание на использование шаблонизатора thymeleaf-->
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<br>

<!--th:each="person: ${people} - Это цикл который пробегает по списку людей-->
<!--person- временная переменная-->
<!--people- коллекция из людей-->
<div th:each="person: ${people}">
    <!--Отображает имя пользователя-->
    <!--th:text="${person.getName()}" - выводит на страницу список из людей -->
    <!--th:href="@{/people/{id}(id=${ person.getId()})}" - при нажатии на имя из списка позволяет переходить на страницу каждого человека -->
    <!--th:href="@{/people/{id}(id=${ person.getId()})}" - ссылка для перехода по id на /people/{id} -->
    <a th:href="@{/people/{id}(id=${ person.getId()})}" th:text="${person.getName()}">user</a>
</div>

<!--br -создает пустую строку(отступ)-->
</br>
<!--hr -создает горизонтальную линию-->
</hr>
<!--При нажатии на кнопку "Create new person" будет осуществляться переход на страницу создания нового человека "/people/new" -->
<a href="/SpringMVC_CRUD4_war_exploded/people/new">Create new person</a>



</body>
</html>